header{
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 7px 80px;
  background-color: rgba(256, 256, 256, 0.4);;
}

header img {
  width: 3rem;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap:5px;
}

.logo {
  font-size: 22px;
  font-family: Poppins;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #343434;
}

nav > ul {
  display: flex;
  gap: 35px;
  align-items: center;
  padding-left: 0;
}

.nav-item {
  list-style: none;
  font-size: 16px;
  font-family: Poppins;
  opacity: 0.8;
}

.nav-item:hover {
  scale: 1.1;
  transition: all 200ms ease-in-out;
}

.nav-item a:hover {
  color: #2450ca;
}

.bag-logo a {
  font-size: 24px;
  color: #0d5eba;
}

.nav-login {
  display: flex;
  justify-content: flex-end;
}

.nav-login button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: Poppins;
  opacity: 0.7;
}

.nav-login button:hover {
  scale: 1.1;
  transition: all 200ms ease-in-out;
}
