.about-main-container {
  margin-top: 2rem;
}

.introduction-container {
  height: 100%;
}

.intro-title {
  font-weight: 600;
  color: #ea580c;
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
}

.intro-text {
  font-size: 0.9rem;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.571);
}

.introduction-item {
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
}

.introduction-link {
  color: rgba(0, 0, 0, 0.181);
}

.active-introduction-link {
  font-weight: 600;
  position: relative;
}

.active-introduction-link::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 3px;
  background-color: #ea580c;
  top: 28px;
  left: 0;
}

/* ------------------ */
/* ---achive styling--- */
.achivement-item {
  width: 100%;
  /* padding: 3rem; */
  /* color: azure; */
  border-radius: 1rem;
  background-color: #ffffffbb;
  backdrop-filter: blur(10px);
}

.achivement-subtitle {
  color: #ea580c;
}

/* --------------------- */
/* ---member styling--- */

.members-container {
  margin-top: 7rem;
}
.member-item {
  background-color: #ffffffbb;
  backdrop-filter: blur(10px);
  padding-bottom: 1rem;
  border-radius: 0.8rem;
}

.members-img {
  width: 100%;
}

.member-name {
  font-family: Be Vietnam Pro;
}

.about-btn {
  padding: 1rem 2rem;
  background-color: #ea580c;
  color: aliceblue;
  border-radius: 0.8rem;
}

/* -------------- */
/* --responsive-- */

@media (max-width: 739px) {
  .achivement-container {
    gap: 35px;
    margin-top: 35px;
  }
  .members-container {
    margin-top: 35px;
  }
}
