@keyframes zoomOut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1.05, 1.05);
  }
}

.login-container {
  padding: 0 100px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
}

.login-logo {
  width: 450px;
}

.form-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Social Login */

.social-login {
  display: flex;
  gap: 20px;
}

.social-icon {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.social-login button {
  width: 130px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: Poppins;
  cursor: pointer;

  &:hover {
    background-color: #eff7f8;
    scale: 1.07;
  }
}

/* Break Line */

.line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 10px;
}

#short {
  width: 27%;
}

#short-res {
  width: 24%;
}

.line-container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 10px;
  font-family: Poppins;
  font-weight: 500;
}

#signup {
  width: 90%;
}
