@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
#root {
  height: 100vh;
}

.active {
  color: #6f93f6 !important;
}

.body {
  margin-top: 90px;
  margin-bottom: 30px;
}

.app {
  height: auto;
  display: flex;
  flex-direction: column;
}

.audio-btn {
  display: block;
  position: fixed;
  padding: 2px;
  border: none;
  bottom: 12px;
  right: 3px;
  background-color: #fff;
  opacity: 0.6;
  border-radius: 80%;
  scale: 0.72;
}

.audio-icon {
  scale: 0.8;
}
